{% extends "_layout/base.twig" %}

{% block content %}

	<div class="container flex-wrap flex-grow my-8 lg:flex lg:my-16">

		<main class="lg:w-2/3">

			{% for post in posts %}

				<article class="copy">

					<h1>
						<a href="{{post.link}}">{{post.title}}</a>
					</h1>

					{{post.content}}

					<a href="{{post.link}}">Read More</a>

				</article>

			{% endfor %}

		</main>

	</div>

{% endblock %}
