{#
  Title: Carousel
  Description: Carousel
  Category: formatting
  Icon: cover-image
  Keywords: hero runner
  Mode: preview
  SupportsAlign: center
  SupportsMode: false
  SupportsMultiple: true
#}

<div id="carousel" class="relative">

  <div class="container">

    {% for item in fields.carousel_slides %}

    {{ item.title }}

    {% endfor %}

  </div>

</div>
