<form role="search" method="get" id="searchform" class="searchform" action="{{site.link}}">
    <div class="flex w-full">
        <label class="screen-reader-text sr-only text-lg" for="s">Search for:</label>
        <input class="" type="text" value="" placeholder="Search..." name="s" id="s">
        <input class="search-type" type="hidden" name="post_type" value="post">
        <input class="ml-2 btn" type="submit" id="searchsubmit" value="Search">
    </div>
</form>