<div class="mobile-fixed-bar bg-white fixed left-0 bottom-0 ~px-6/12 py-4 z-[9999] w-full lg:hidden">
	<div class="relative z-10 w-full flex justify-between">
		<div class="flex lg:min-w-[310px] mr-2 lg:mr-0">
			<div class="relative btn btn-secondary mr-2 w-10 h-10 !p-0">
				{{ icon('phone') }}
				<span class="ld-absolute">{{ '[ald_default calltag=false]' | shortcodes }}</span>
			</div>
			{% include "_components/button.twig" with {
				link: '/contact/',
				text: 'Contact',
				colour: 'secondary',
				classes: 'w-10 h-10 !p-0',
				icon: 'envelope',
				iconPosition: 'left',
				textClass: 'sr-only'
			} %}
		</div>

		<button title="Toggle Mobile Menu" class="btn btn-primary w-10 h-10 !p-0 lg:hidden" data-mobile-menu-toggle>
			{{ icon( 'bars', 'open') }}
			{{ icon( 'times', 'close hide') }}
			<span class="sr-only">Menu</span>
		</button>
	</div>
</div>
